
<div>
<form class="edit-user-form">
	<legend>New User</legend>

	<div class="control-group">
		<label class="control-label" >First name:</label>
		<div class="controls">
			<input type="text" name="firstname" id="firstname"><br>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" >Last name:</label>
		<div class="controls">
			<input type="text" name="lastname" id="lastname"><br>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" >Password:</label>
		<div class="controls">
			<input type="password" name="pwd" id="pwd"><br>
		</div>
	</div>
    
    <div class="control-group">
		<label class="control-label" >Email</label>
		<div class="controls">
			<input type="email" name="email" id="email"><br>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" >DNI:</label>
		<div class="controls">
			<input type="text" name="dni" id="dni"><br>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" >CUIT:</label>
		<div class="controls">
			<input type="text" name="cuit" id="cuit"><br>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" >Address:</label>
		<div class="controls">
			<input type="text" name="address" id="address"><br>
		</div>
	</div>
	
	<hr>
	
	<button class="btn save-form" type="submit">Create</button>
    <button class="btn btn-danger cancel-form">Cancel</button>

</form> 
</div>