<nav id="navigationGroups">
    <ul class="nav nav-list">
        <li class="nav-header">
            <span data-target="#group1" data-toggle="collapse">Profile User</span>
            <ul id="group1" class="nav nav-list collapse in">
			     <li><a href="#usersTable">Users Table</a></li>
                <li><a href="#newUser">New User</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">
            <span data-target="#group2" data-toggle="collapse">Contact</span>
            <ul id="group2" class="nav nav-list collapse in">
                <li><a href="#contact">Form Contact</a>
                </li>
                <li><a href="#help">Help</a></li>
                <li><a href="#termsAndConditions">Terms and conditions</a></li>
            </ul>
        </li>
    </ul>
</nav>