<h2>List Users</h2>
<br/>
<div>
<a href="#/newUser" class="btn btn-primary" title="Add New User">New</a>
<form class="form-search " id="searchForm">
	<div class="input-append">
		<input type="text" class="span2 search-query">
		<button type="submit" class="btn btn-Table-users">Search</button>
	</div>
</form>
</div>
	<hr />
	<table class="table striped">
	  <thead>
			<tr>
			  	<th>First Name</th>
			  	<th>Last Name</th>
			  	<th>Email</th>
			  	<th>DNI</th>
			  	<th>CUIT</th>
			  	<th>Address</th>
			</tr>
	  </thead>
	  <tbody>
			<% _.each(users, function(user) { %>
			  <tr class="successTable">
				<td><%= user.get('firstname') %></td>
				<td><%= user.get('lastname') %></td>
				<td><%= user.get('email') %></td>
				<td><%= user.get('dni') %></td>
				<td><%= user.get('cuit') %></td>
				<td><%= user.get('address') %></td>
				<td><a href="#editUser/<%= user.id %>" title="Edit User"><img  id="imgId" src="img/edit.png"></a></td>
			  </tr>
			<% }); %>
	  </tbody>
	</table>
  